<section class="appearance" data-id="{{ item.id }}">
    <div class="appearance__left">
        <img src="{{ item.image.url }}">
        {{#each item.product_occurrences}}
            <div class="product-indicator" style="top: {{position.y}}%; left: {{position.x}}%;" data-uuid="{{product.id}}"></div>
        {{/each}}
    </div>
    <div class="appearance__right">
        <h2 class="appearance__name"><img class="avatar" src="{{ item.subject.avatar.url }}"> {{ item.subject.name }}</h2>
        <h1>{{ item.title }}</h1>

        <div class="appearance__products">
            <h1 class="appearance__title">Products</h1>
            <div class="appearance__products-inner">
                {{#each products}}
                    <article class="product" data-uuid="{{id}}">
                        <div class="product__actual">
                            <header class="product__header">
                                <h1 class="product__title">Actual</h1>
                                <img class="product__image" src="{{image.url}}">
                            </header>
                            <section class="product__info">
                                <h1 class="product__name">{{ name }}</h1>
                                <h2 class="product__brand">{{ brand.name }}</h2>
                            </section>
                        </div>
                        {{#each similars}}
                            <div class="product__similar">
                                <header class="product__header">
                                    <h1 class="product__title">{{ similar_type }}</h1>
                                    <img class="product__image" src="{{image.url}}">
                                </header>
                                <section class="product__info">
                                    <h1 class="product__name">{{ name }}</h1>
                                    <h2 class="product__brand">{{ brand.name }}</h2>
                                </section>
                            </div>
                        {{/each}}
                    </article>
                {{/each}}
            </div>
        </div>
    </div>
</section>
