<div class="feed">
    {{#each items}}
        <section class="feed__item" data-uuid="{{id}}">
            <img class="feed__image" src="{{ image.url }}">
            <h2 class="feed__subject">
                <img class="feed__avatar" src="{{ subject.avatar.url }}">
                {{ subject.name }}
            </h2>
            <h1 class="feed__title">
                <a class="feed__link" data-url="/api/appearance/{{id}}" href="appearance/{{id}}">
                    {{title}}
                </a>
            </h1>
        </section>
    {{/each}}
</div>
